__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

.venv/
venv/
env/

.mypy_cache/
.ruff_cache/
.pytest_cache/

.vscode/
.DS_Store
*.coverage
coverage.xml
node_modules/
storybook-static/
playwright-report/
**/.next/
apps/maximo-extension-ui/test-results/

# Production environment configuration
prod.env
