# Production dependencies
pydantic
pydantic-settings
PyYAML
networkx
jinja2
reportlab
qrcode
requests
typer
python-dotenv
pyjwt
pandas
PyPDF2
weasyprint
tqdm
prometheus-client
sentry-sdk

# Development dependencies
pytest
hypothesis
black
isort
ruff
mypy
responses
pre-commit
httpx
fastapi
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-requests
types-PyYAML
types-requests
