fastapi
uvicorn
python-multipart
structlog
alembic
sqlalchemy
psycopg[binary]
pyjwt
prometheus_client
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-requests
fastapi-oidc
